In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import io
df = pd.read_csv('athlete_events.csv')

In [ ]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df["NOC"].nunique()

230

In [ ]:
df.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [ ]:
df.count()

ID        271116
Name      271116
Sex       271116
Age       261642
Height    210945
Weight    208241
Team      271116
NOC       271116
Games     271116
Year      271116
Season    271116
City      271116
Sport     271116
Event     271116
Medal      39783
dtype: int64

In [ ]:
df = df.drop(["ID", "Name", "Team", "Games", "City", "Sport", "Sex", "Season"], axis=1)

In [ ]:
df = df.sort_values(by="Year")

In [ ]:
df[df["Year"] > 1959]

,Age,Height,Weight,NOC,Year,Event,Medal
196760,25.0,182.0,85.0,GBR,1960,Sailing Mixed Two Person Heavyweight Dinghy,NaN
142603,25.0,178.0,69.0,BEL,1960,Hockey Men's Hockey,NaN
75463,19.0,164.0,54.0,KOR,1960,Boxing Men's Bantamweight,NaN
125679,48.0,179.0,80.0,HUN,1960,"Fencing Men's Sabre, Team",Gold
122618,24.0,178.0,72.0,GER,1960,"Cycling Men's Team Pursuit, 4,000 metres",Silver
...,...,...,...,...,...,...,...
142355,37.0,166.0,60.0,COL,2016,Athletics Men's 20 kilometres Walk,NaN
47729,20.0,152.0,53.0,ITA,2016,Rowing Men's Coxed Eights,NaN
47728,23.0,173.0,71.0,CAN,2016,Football Women's Football,Bronze
47746,21.0,194.0,85.0,ITA,2016,Swimming Men's 200 metres Freestyle,NaN
236646,26.0,185.0,83.0,NZL,2016,Hockey Men's Hockey,NaN

In [ ]:
df.isna().sum()

Age         9474
Height     60171
Weight     62875
NOC            0
Year           0
Event          0
Medal     231333
dtype: int64

In [ ]:
df = df[df["Year"] > 1960]

In [ ]:
df['Medal'] = df['Medal'].replace(np.nan, 0)
df['Medal']

258399         0
26057       Gold
183809         0
85465          0
40916          0
           ...
142355         0
47729          0
47728     Bronze
47746          0
236646         0
Name: Medal, Length: 199837, dtype: object

In [ ]:
df.isna().sum()

Age         894
Height    10158
Weight    10776
NOC           0
Year          0
Event         0
Medal         0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188046 entries, 258399 to 236646
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     188046 non-null  float64
 1   Height  188046 non-null  float64
 2   Weight  188046 non-null  float64
 3   NOC     188046 non-null  object
 4   Year    188046 non-null  int64
 5   Event   188046 non-null  object
 6   Medal   188046 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 11.5+ MB

### Selecting sport categories

In [ ]:
df.Event.unique()

### Converting medal names into medal (1) or no medal (0)

In [ ]:
df = df.replace(["Gold", "Silver", "Bronze"], 1)

df.Medal

In [ ]:
df[df['Medal']==0]

### Removing integers from NOC names:

In [ ]:
print(df.NOC.unique())

['GER' 'HUN' 'POL' 'SUI' 'KOR' 'NZL' 'SWE' 'GBR' 'ROU' 'DEN' 'FIN' 'BUL'
 'MEX' 'YUG' 'JPN' 'NED' 'AUT' 'USA' 'ARG' 'URS' 'FRA' 'ZIM' 'BEL' 'CAN'
 'AUS' 'NGR' 'PAN' 'MGL' 'TCH' 'TUR' 'BAH' 'ETH' 'IRL' 'ITA' 'CUB' 'GRE'
 'COL' 'BOL' 'MAD' 'KEN' 'GHA' 'PAK' 'POR' 'MAS' 'JAM' 'LIB' 'BRA' 'TPE'
 'PHI' 'VEN' 'PUR' 'ESP' 'HKG' 'CHI' 'NOR' 'IND' 'CAM' 'IRI' 'SRI' 'CHA'
 'TTO' 'CMR' 'PER' 'VNM' 'MAR' 'THA' 'ISL' 'URU' 'LUX' 'ZAM' 'ISR' 'LIE'
 'BER' 'MYA' 'PRK' 'SEN' 'IRQ' 'UGA' 'TAN' 'CIV' 'AHO' 'ALG' 'TUN' 'EGY'
 'NEP' 'CRC' 'LBR' 'CGO' 'AFG' 'MON' 'DOM' 'MLI' 'FRG' 'GUA' 'GDR' 'ESA'
 'MLT' 'ECU' 'INA' 'NCA' 'ISV' 'COD' 'BAR' 'SGP' 'HON' 'SUR' 'SMR' 'BIZ'
 'SUD' 'SLE' 'GUI' 'GUY' 'SYR' 'SOM' 'HAI' 'MAW' 'BUR' 'TOG' 'PAR' 'KSA'
 'BEN' 'FIJ' 'SWZ' 'KUW' 'LES' 'GAB' 'PNG' 'ANT' 'CAY' 'AND' 'CYP' 'VIE'
 'SEY' 'ANG' 'LAO' 'BOT' 'CHN' 'JOR' 'MOZ' 'OMA' 'QAT' 'DJI' 'YAR' 'GRN'
 'IVB' 'BHU' 'RWA' 'GEQ' 'GAM' 'BRN' 'NIG' 'CAF' 'SAM' 'MRI' 'BAN' 'MTN'
 'SOL' 'COK' 'UAE' 'ARU' 'ASA' 'MDV' 'GUM' 'TGA' 'LBA' 'YMD' 'VAN' 'VIN'
 'EUN' 'EST' 'LAT' 'CRO' 'YEM' 'LTU' 'RSA' 'SLO' 'NAM' 'IOA' 'ALB' 'BIH'
 'RUS' 'KAZ' 'BLR' 'CZE' 'SVK' 'UKR' 'GEO' 'UZB' 'MDA' 'ARM' 'SCG' 'KGZ'
 'AZE' 'TJK' 'SKN' 'LCA' 'BDI' 'DMA' 'TKM' 'GBS' 'MKD' 'CPV' 'COM' 'NRU'
 'STP' 'PLE' 'BRU' 'FSM' 'ERI' 'PLW' 'KIR' 'TLS' 'SRB' 'MNE' 'MHL' 'TUV'
 'ROT' 'SSD' 'KOS']

In [ ]:
df['NOC'] = list(map(lambda x: x.replace(" 4", ""), df['NOC']))

In [ ]:
df['NOC'] = list(map(lambda x: x.replace("-3", ""), df['NOC']))

In [ ]:
df['NOC'] = list(map(lambda x: x.replace("-2", ""), df['NOC']))

In [ ]:
df['NOC'] = list(map(lambda x: x.replace("-1", ""), df['NOC']))

In [ ]:
for character in df['NOC']:
    if not character.isalpha():
        print("found: \'{}\'".format(character))

### Selecting the desired sport datasets:

## Summer Olympics:

In [ ]:
df.head()

,Age,Height,Weight,NOC,Year,Event,Medal
258399,19.0,179.0,77.0,GER,1964,Swimming Men's 400 metres Individual Medley,0
26057,35.0,186.0,95.0,HUN,1964,Water Polo Men's Water Polo,1
183809,31.0,174.0,74.0,POL,1964,"Fencing Men's Sabre, Individual",0
85465,27.0,170.0,65.0,SUI,1964,Alpine Skiing Men's Downhill,0
40916,22.0,164.0,62.0,KOR,1964,"Wrestling Men's Bantamweight, Freestyle",0

In [ ]:
men_swim = df[df.Event =="Swimming Men's 100 metres Freestyle"]
women_swim = df[df.Event =="Swimming Women's 100 metres Freestyle"]
men_sprint = df[df.Event =="Athletics Men's 100 metres"]
women_sprint = df[df.Event =="Athletics Women's 100 metres"]
men_jump = df[df.Event =="Athletics Men's High Jump"]
women_jump = df[df.Event =="Athletics Women's High Jump"]

In [ ]:
men_swim.head()

,Age,Height,Weight,NOC,Year,Event,Medal
221751,22.0,177.0,74.0,NED,1964,Swimming Men's 100 metres Freestyle,0
88894,19.0,184.0,79.0,GBR,1964,Swimming Men's 100 metres Freestyle,0
50824,18.0,178.0,76.0,ITA,1964,Swimming Men's 100 metres Freestyle,0
213824,18.0,180.0,79.0,USA,1964,Swimming Men's 100 metres Freestyle,1
187856,25.0,167.0,58.0,VNM,1964,Swimming Men's 100 metres Freestyle,0

In [ ]:
men_swim["NOC"].unique()

array(['NED', 'GBR', 'ITA', 'USA', 'VNM', 'PER', 'URS', 'MEX', 'SWE',
       'FRA', 'ARG', 'MAS', 'ISL', 'SUI', 'VEN', 'KOR', 'FIN', 'JPN',
       'ESP', 'CAN', 'HUN', 'LUX', 'PUR', 'HKG', 'AUT', 'GER', 'TCH',
       'IRI', 'POR', 'THA', 'BRA', 'AUS', 'BEL', 'ESA', 'ISR', 'FRG',
       'IRL', 'BAR', 'NOR', 'PHI', 'CUB', 'CRC', 'LIB', 'JAM', 'ECU',
       'COL', 'TPE', 'TTO', 'TUR', 'POL', 'GDR', 'ROU', 'YUG', 'CAM',
       'ANG', 'MAD', 'BUL', 'ALG', 'ZIM', 'VIE', 'CYP', 'BAH', 'EGY',
       'ISV', 'KUW', 'AHO', 'INA', 'GUA', 'FIJ', 'SGP', 'SWZ', 'CHN',
       'DEN', 'SUR', 'SMR', 'MOZ', 'MON', 'UAE', 'HON', 'GUM', 'URU',
       'EUN', 'EST', 'SEY', 'LTU', 'RSA', 'UKR', 'RUS', 'CRO', 'SCG',
       'KAZ', 'KGZ', 'UZB', 'MGL', 'SLO', 'CIV', 'CZE', 'BIH', 'TJK',
       'CHI', 'NGR', 'MRI', 'GRE', 'NZL', 'GUY', 'PNG', 'PAN', 'BDI',
       'AZE', 'BRN', 'MDA', 'LAT', 'BLR', 'IRQ', 'PAK', 'ARM', 'CGO',
       'SRB', 'BER', 'BOL', 'IND', 'ARU', 'CAY', 'KEN', 'LBA', 'ALB',
       'PAR', 'MDV', 'MLT', 'TKM', 'TAN', 'GRN', 'NCA', 'ROT', 'SRI',
       'DOM', 'ETH', 'NEP'], dtype=object)

In [ ]:
men_swim.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
men_swim.count()

Age       765
Height    765
Weight    765
NOC       765
Year      765
Event     765
Medal     765
dtype: int64

In [ ]:
women_swim.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
women_jump.head()

         Age  Height  Weight  NOC  Year                        Event  Medal
78086   20.0   178.0    68.0  CAN  1964  Athletics Women's High Jump      0
151787  25.0   171.0    55.0  AUS  1964  Athletics Women's High Jump      1
121791  18.0   179.0    65.0  GBR  1964  Athletics Women's High Jump      0
176009  23.0   170.0    63.0  NGR  1964  Athletics Women's High Jump      0
131526  19.0   172.0    64.0  ISR  1964  Athletics Women's High Jump      0

In [ ]:
df['NOC'].nunique()

219

In [ ]:
df['NOC'].unique()

## Winter Olympics:

In [ ]:
men_skating = df[df.Event =="Figure Skating Men's Singles"]
women_skating = df[df.Event =="Figure Skating Women's Singles"]
men_speed_skating = df[df.Event =="Speed Skating Men's 1,500 metres"]
women_speed_skating = df[df.Event =="Speed Skating Women's 1,500 metres"]
men_downhill = df[df.Event =="Alpine Skiing Men's Downhill"]
women_downhill = df[df.Event =="Alpine Skiing Women's Downhill"]

In [ ]:
men_skating['NOC'].unique()

array(['USA', 'GER', 'CAN', 'JPN', 'TCH', 'AUT', 'GBR', 'FRA', 'HUN',
       'ITA', 'GDR', 'FRG', 'URS', 'KOR', 'SWE', 'ROU', 'FIN', 'CHN',
       'POL', 'AUS', 'YUG', 'SUI', 'TPE', 'EUN', 'LAT', 'UKR', 'RUS',
       'RSA', 'EST', 'DEN', 'ISR', 'BLR', 'SVK', 'KAZ', 'LUX', 'UZB',
       'AZE', 'BUL', 'BEL', 'GEO', 'SCG', 'SLO', 'CZE', 'PRK', 'ESP'],
      dtype=object)

## Checking for NaNs and NOC names

In [ ]:
women_downhill

### Checking how many NaNs in our dataframes:

In [ ]:
men_downhill.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
men_downhill.count()

Age       708
Height    708
Weight    708
NOC       708
Year      708
Event     708
Medal     708
dtype: int64

In [ ]:
men_downhill['NOC'].unique()

array(['SUI', 'CAN', 'SWE', 'POL', 'LIB', 'AUT', 'GER', 'CHI', 'ITA',
       'LIE', 'ESP', 'GBR', 'JPN', 'USA', 'IRI', 'FRA', 'TUR', 'URS',
       'YUG', 'FIN', 'TCH', 'BUL', 'FRG', 'GDR', 'ARG', 'GRE', 'NOR',
       'ROU', 'AUS', 'NZL', 'BEL', 'BOL', 'AND', 'SEN', 'MON', 'KOR',
       'MEX', 'LUX', 'BRA', 'EUN', 'HUN', 'GEO', 'RUS', 'EST', 'POR',
       'SLO', 'BIH', 'IRL', 'RSA', 'CZE', 'SVK', 'UKR', 'TJK', 'LAT',
       'ISL', 'CRO', 'DEN', 'KAZ', 'BLR'], dtype=object)

In [ ]:
women_downhill.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
for character in men_downhill['NOC']:
    if not character.isalpha():
        print("found: \'{}\'".format(character))

In [ ]:
women_downhill.count()

Age       483
Height    483
Weight    483
NOC       483
Year      483
Event     483
Medal     483
dtype: int64

In [ ]:
women_downhill['NOC'].unique()

array(['USA', 'URS', 'ITA', 'POL', 'SUI', 'GBR', 'GER', 'FRA', 'CAN',
       'YUG', 'AUT', 'FRG', 'TCH', 'LIE', 'JPN', 'NZL', 'ESP', 'SWE',
       'NOR', 'FIN', 'BEL', 'AUS', 'ARG', 'ROU', 'EUN', 'RUS', 'SLO',
       'HUN', 'UKR', 'CRO', 'CZE', 'ISL', 'MON', 'LIB', 'ALG', 'SVK',
       'BUL', 'CHI', 'AND', 'KAZ'], dtype=object)

In [ ]:
women_downhill.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
men_swim.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
men_swim.count()

Age       765
Height    765
Weight    765
NOC       765
Year      765
Event     765
Medal     765
dtype: int64

In [ ]:
women_swim.isna().sum()

Age       0
Height    0
Weight    0
NOC       0
Year      0
Event     0
Medal     0
dtype: int64

In [ ]:
women_swim.count()

Age       632
Height    632
Weight    632
NOC       632
Year      632
Event     632
Medal     632
dtype: int64

### Create BMI column

In [ ]:
df["BMI"] = df["Weight"] / ((df["Height"] / 100)** 2)
df["BMI"]

258399    24.031709
26057     27.459822
183809    24.441802
85465     22.491349
40916     23.051755
            ...
142355    21.773842
47729     22.939751
47728     23.722811
47746     22.584759
236646    24.251278
Name: BMI, Length: 188046, dtype: float64

### AutoML

In [ ]:
!pip install auto-sklearn

In [ ]:
import autosklearn.classification
import autosklearn.metrics
from sklearn.model_selection import train_test_split

In [ ]:
automl = autosklearn.classification.AutoSklearnClassifier(
    time_left_for_this_task=300, # limiting possible model combinations and selections to 300s == 5 mins
    per_run_time_limit=30,
    memory_limit=None,
    seed=1,
    resampling_strategy='holdout',
    resampling_strategy_arguments={
        'train_size': 0.8,
        'shuffle': True
    },
    metric=autosklearn.metrics.f1_weighted,
    scoring_functions=[autosklearn.metrics.f1_weighted, autosklearn.metrics.balanced_accuracy,
                       autosklearn.metrics.precision_weighted, autosklearn.metrics.recall_weighted],
    tmp_folder=None,
)

### AutoML men sprint

In [ ]:
X = men_sprint.drop(["Medal","Event"], axis=1)
y = men_sprint["Medal"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((865, 5), (217, 5))

In [ ]:
y_train.shape

(865,)

In [ ]:
y_test.shape

(217,)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188046 entries, 258399 to 236646
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     188046 non-null  float64
 1   Height  188046 non-null  float64
 2   Weight  188046 non-null  float64
 3   NOC     188046 non-null  object
 4   Year    188046 non-null  int64
 5   Event   188046 non-null  object
 6   Medal   188046 non-null  int64
 7   BMI     188046 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 12.9+ MB

In [ ]:
X_train.head()

         Age  Height  Weight  NOC  Year
47895   31.0   187.0    78.0  BRA  2004
2450    19.0   175.0    67.0  MAS  1976
94005   25.0   184.0    81.0  AUS  1996
229211  28.0   183.0    78.0  BEL  1996
66260   25.0   172.0    72.0  SEN  1976

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OneHotEncoder

cat_dummy_encoder = OneHotEncoder(handle_unknown='ignore')

# convert to array to see a df
# transform for new catgories in test data
X_train_cat = X_train.select_dtypes(include='object')
cat_cols = X_train_cat.columns

X_train_cat_ohe = cat_dummy_encoder.fit_transform(X_train_cat).toarray()
cat_ohe_cols = cat_dummy_encoder.get_feature_names(cat_cols)

# retruning numpy
X_train_cat_ohe = pd.DataFrame(X_train_cat_ohe, 
                              columns=cat_ohe_cols)

# categor data into numeric values                               
X_train_cat_ohe.head()

,NOC_AFG,NOC_AHO,NOC_ALB,NOC_ALG,NOC_ANG,NOC_ANT,NOC_ARG,NOC_ARU,NOC_ASA,NOC_AUS,...,NOC_USA,NOC_UZB,NOC_VAN,NOC_VEN,NOC_VIE,NOC_VIN,NOC_VNM,NOC_YMD,NOC_ZAM,NOC_ZIM
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
len(X_train)

865

In [ ]:
len(X_train_cat_ohe)

865

In [ ]:
X_train = X_train.drop(["NOC"], axis=1)

In [ ]:
len(X_train)

865

In [ ]:
len(y_train)

865

In [ ]:
y_train

47895     0
2450      0
94005     0
229211    0
66260     0
         ..
258699    1
10215     0
81954     0
133696    0
178656    0
Name: Medal, Length: 865, dtype: int64

In [ ]:
X_train.reset_index()

      index   Age  Height  Weight  Year
0     47895  31.0   187.0    78.0  2004
1      2450  19.0   175.0    67.0  1976
2     94005  25.0   184.0    81.0  1996
3    229211  28.0   183.0    78.0  1996
4     66260  25.0   172.0    72.0  1976
..      ...   ...     ...     ...   ...
860  258699  28.0   183.0    86.0  1980
861   10215  20.0   162.0    52.0  1988
862   81954  24.0   169.0    66.0  1968
863  133696  26.0   180.0    93.0  2016
864  178656  28.0   177.0    75.0  2008

[865 rows x 5 columns]

In [ ]:
X_train_cat_ohe.reset_index()
X_train_cat_ohe = X_train_cat_ohe.drop(["index"], axis=1)

KeyError: ignored

In [ ]:
X_train_cat_ohe

,NOC_AFG,NOC_AHO,NOC_ALB,NOC_ALG,NOC_ANG,NOC_ANT,NOC_ARG,NOC_ARU,NOC_ASA,NOC_AUS,...,NOC_USA,NOC_UZB,NOC_VAN,NOC_VEN,NOC_VIE,NOC_VIN,NOC_VNM,NOC_YMD,NOC_ZAM,NOC_ZIM
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_train_exp = X_train.merge(X_train_cat_ohe, right_on=X_train.index, left_on=X_train.index)

In [ ]:
len(X_train_exp)

865

In [ ]:
X_train.index

Int64Index([ 47895,   2450,  94005, 229211,  66260, 213000, 128304,  57800,
            166988,  83937,
            ...
              9616, 167845, 123508,  12649, 162354, 258699,  10215,  81954,
            133696, 178656],
           dtype='int64', length=865)

In [ ]:
X_train.shape

(865, 4)

In [ ]:
automl.fit(X_train, y_train)

AutoSklearnClassifier(memory_limit=None, metric=f1_weighted,
                      per_run_time_limit=30,
                      resampling_strategy_arguments={'shuffle': True,
                                                     'train_size': 0.8},
                      scoring_functions=[f1_weighted, balanced_accuracy,
                                         precision_weighted, recall_weighted],
                      time_left_for_this_task=300)

In [ ]:
print(automl.sprint_statistics())

auto-sklearn results:
  Dataset name: 347096e4-a116-11ec-8167-0242ac1c0002
  Metric: f1_weighted
  Best validation score: 0.952620
  Number of target algorithm runs: 75
  Number of successful target algorithm runs: 73
  Number of crashed target algorithm runs: 1
  Number of target algorithms that exceeded the time limit: 1
  Number of target algorithms that exceeded the memory limit: 0

In [ ]:
def get_metric_result(cv_results):
    results = pd.DataFrame.from_dict(cv_results)
    results = results[results['status'] == "Success"]
    cols = ['rank_test_scores', 'param_classifier:__choice__', 'mean_test_score']
    cols.extend([key for key in cv_results.keys() if key.startswith('metric_')])
    return results[cols]


print("Metric results:")
print(get_metric_result(automl.cv_results_).to_string(index=False))

Metric results:
 rank_test_scores param_classifier:__choice__  mean_test_score  metric_f1_weighted  metric_balanced_accuracy  metric_precision_weighted  metric_recall_weighted
                7               random_forest         0.948598            0.948598                  0.568417                   0.946101                0.959538
                8                         mlp         0.939724            0.939724                  0.500000                   0.920712                0.959538
               51                    adaboost         0.930636            0.930636                  0.553356                   0.930636                0.930636
                8                         mlp         0.939724            0.939724                  0.500000                   0.920712                0.959538
               54               random_forest         0.927573            0.927573                  0.615749                   0.937279                0.919075
               60           gradient_boosting         0.916054            0.916054                  0.475904                   0.918830                0.913295
                8                bernoulli_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
               58           gradient_boosting         0.917227            0.917227                  0.541308                   0.927678                0.907514
                8                bernoulli_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
               61                         mlp         0.913015            0.913015                  0.472892                   0.918582                0.907514
                1                 gaussian_nb         0.952620            0.952620                  0.571429                   0.966528                0.965318
                8         k_nearest_neighbors         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8               random_forest         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         qda         0.939724            0.939724                  0.500000                   0.920712                0.959538
               53                    adaboost         0.928030            0.928030                  0.487952                   0.919793                0.936416
                8                         mlp         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         sgd         0.939724            0.939724                  0.500000                   0.920712                0.959538
               72                  libsvm_svc         0.524100            0.524100                  0.335628                   0.890784                0.381503
               51           gradient_boosting         0.930636            0.930636                  0.553356                   0.930636                0.930636
               48               random_forest         0.936827            0.936827                  0.496988                   0.920487                0.953757
               50           gradient_boosting         0.930980            0.930980                  0.490964                   0.920027                0.942197
                1               random_forest         0.952620            0.952620                  0.571429                   0.966528                0.965318
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         lda         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8               decision_tree         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         mlp         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8          passive_aggressive         0.939724            0.939724                  0.500000                   0.920712                0.959538
               71                bernoulli_nb         0.677505            0.677505                  0.699656                   0.951954                0.554913
               68                         sgd         0.786456            0.786456                  0.566695                   0.930152                0.693642
                8                         lda         0.939724            0.939724                  0.500000                   0.920712                0.959538
               56               random_forest         0.923888            0.923888                  0.547332                   0.928928                0.919075
                8                         qda         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
               62               random_forest         0.910131            0.910131                  0.600688                   0.934037                0.890173
               55                         qda         0.927247            0.927247                  0.550344                   0.929703                0.924855
                8          passive_aggressive         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 extra_trees         0.939724            0.939724                  0.500000                   0.920712                0.959538
               65           gradient_boosting         0.900671            0.900671                  0.526248                   0.925396                0.878613
                8                 extra_trees         0.939724            0.939724                  0.500000                   0.920712                0.959538
               69                         sgd         0.782119            0.782119                  0.700516                   0.946543                0.687861
               73                         sgd         0.003147            0.003147                  0.500000                   0.001637                0.040462
                8          passive_aggressive         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         lda         0.939724            0.939724                  0.500000                   0.920712                0.959538
               64                    adaboost         0.906880            0.906880                  0.466867                   0.918076                0.895954
                8                         qda         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         qda         0.939724            0.939724                  0.500000                   0.920712                0.959538
                1                 gaussian_nb         0.952620            0.952620                  0.571429                   0.966528                0.965318
                1                 gaussian_nb         0.952620            0.952620                  0.571429                   0.966528                0.965318
                8               liblinear_svc         0.939724            0.939724                  0.500000                   0.920712                0.959538
               58                         qda         0.917227            0.917227                  0.541308                   0.927678                0.907514
                1                 gaussian_nb         0.952620            0.952620                  0.571429                   0.966528                0.965318
                8                         sgd         0.939724            0.939724                  0.500000                   0.920712                0.959538
               67                    adaboost         0.825569            0.825569                  0.596816                   0.933129                0.751445
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
               63                         qda         0.907295            0.907295                  0.532272                   0.926219                0.890173
               49                 gaussian_nb         0.934066            0.934066                  0.556368                   0.931807                0.936416
                8         k_nearest_neighbors         0.939724            0.939724                  0.500000                   0.920712                0.959538
               56          passive_aggressive         0.923888            0.923888                  0.547332                   0.928928                0.919075
                8               decision_tree         0.939724            0.939724                  0.500000                   0.920712                0.959538
                1                 gaussian_nb         0.952620            0.952620                  0.571429                   0.966528                0.965318
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 extra_trees         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 extra_trees         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8               liblinear_svc         0.939724            0.939724                  0.500000                   0.920712                0.959538
               70                 extra_trees         0.748614            0.748614                  0.608003                   0.935937                0.641618
                8                bernoulli_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8         k_nearest_neighbors         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 gaussian_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                         qda         0.939724            0.939724                  0.500000                   0.920712                0.959538
                8                 extra_trees         0.939724            0.939724                  0.500000                   0.920712                0.959538
               66                 extra_trees         0.859928            0.859928                  0.692341                   0.943302                0.803468
                8                bernoulli_nb         0.939724            0.939724                  0.500000                   0.920712                0.959538

### AutoML men swim

In [ ]:
print(automl.sprint_statistics())

auto-sklearn results:
  Dataset name: 959dd1fa-a089-11ec-991a-0242ac1c0002
  Metric: f1_weighted
  Best validation score: 0.954066
  Number of target algorithm runs: 84
  Number of successful target algorithm runs: 83
  Number of crashed target algorithm runs: 1
  Number of target algorithms that exceeded the time limit: 0
  Number of target algorithms that exceeded the memory limit: 0

In [ ]:
def get_metric_result(cv_results):
    results = pd.DataFrame.from_dict(cv_results)
    results = results[results['status'] == "Success"]
    cols = ['rank_test_scores', 'param_classifier:__choice__', 'mean_test_score']
    cols.extend([key for key in cv_results.keys() if key.startswith('metric_')])
    return results[cols]


print("Metric results:")
print(get_metric_result(automl.cv_results_).to_string(index=False))

Metric results:
 rank_test_scores param_classifier:__choice__  mean_test_score  metric_f1_weighted  metric_balanced_accuracy  metric_precision_weighted  metric_recall_weighted
                5               random_forest         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
               53               random_forest         0.912272            0.912272                  0.554187                   0.906518                0.918699
                1                    adaboost         0.954066            0.954066                  0.709975                   0.954072                0.959350
               60           gradient_boosting         0.903128            0.903128                  0.487069                   0.888076                0.918699
               62           gradient_boosting         0.890471            0.890471                  0.474138                   0.886665                0.894309
               54                         mlp         0.911389            0.911389                  0.495690                   0.888978                0.934959
                5                bernoulli_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                bernoulli_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5               random_forest         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                 gaussian_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         sgd         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5         k_nearest_neighbors         0.915468            0.915468                  0.500000                   0.889418                0.943089
               80                  libsvm_svc         0.506072            0.506072                  0.471059                   0.884540                0.382114
               60           gradient_boosting         0.903128            0.903128                  0.487069                   0.888076                0.918699
                5                         qda         0.915468            0.915468                  0.500000                   0.889418                0.943089
               57                    adaboost         0.907276            0.907276                  0.491379                   0.888531                0.926829
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5               random_forest         0.915468            0.915468                  0.500000                   0.889418                0.943089
               57           gradient_boosting         0.907276            0.907276                  0.491379                   0.888531                0.926829
                5                 gaussian_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5               random_forest         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5           gradient_boosting         0.915468            0.915468                  0.500000                   0.889418                0.943089
               70               liblinear_svc         0.785361            0.785361                  0.643473                   0.916343                0.707317
                5                         lda         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                bernoulli_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
               76                bernoulli_nb         0.693600            0.693600                  0.578818                   0.907618                0.585366
               79                         sgd         0.589232            0.589232                  0.652709                   0.930173                0.471545
                5                         lda         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                 gaussian_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                2                    adaboost         0.941877            0.941877                  0.638547                   0.941734                0.951220
                5                         qda         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         lda         0.915468            0.915468                  0.500000                   0.889418                0.943089
               62         k_nearest_neighbors         0.890471            0.890471                  0.474138                   0.886665                0.894309
               78                         sgd         0.612367            0.612367                  0.665640                   0.931345                0.495935
               81                         sgd         0.006129            0.006129                  0.500000                   0.003239                0.056911
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
               76                bernoulli_nb         0.693600            0.693600                  0.578818                   0.907618                0.585366
                5                    adaboost         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                4                    adaboost         0.918699            0.918699                  0.621305                   0.918699                0.918699
               57                  libsvm_svc         0.907276            0.907276                  0.491379                   0.888531                0.926829
               62                    adaboost         0.890471            0.890471                  0.474138                   0.886665                0.894309
               74          passive_aggressive         0.731788            0.731788                  0.604680                   0.911294                0.634146
               69                bernoulli_nb         0.795970            0.795970                  0.584975                   0.906348                0.723577
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         qda         0.915468            0.915468                  0.500000                   0.889418                0.943089
               70               random_forest         0.785361            0.785361                  0.643473                   0.916343                0.707317
                5                         lda         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5           gradient_boosting         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         lda         0.915468            0.915468                  0.500000                   0.889418                0.943089
               68                 extra_trees         0.796748            0.796748                  0.652094                   0.917443                0.723577
               73                 extra_trees         0.743709            0.743709                  0.680419                   0.924780                0.650407
               67                 extra_trees         0.803014            0.803014                  0.723522                   0.929313                0.731707
               56         k_nearest_neighbors         0.907321            0.907321                  0.549877                   0.904211                0.910569
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
               81          passive_aggressive         0.006129            0.006129                  0.500000                   0.003239                0.056911
               75               decision_tree         0.713640            0.713640                  0.524631                   0.897086                0.609756
               54                         lda         0.911389            0.911389                  0.495690                   0.888978                0.934959
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
               65               random_forest         0.840818            0.840818                  0.686576                   0.922049                0.788618
                5               decision_tree         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5               random_forest         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         sgd         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                    adaboost         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         qda         0.915468            0.915468                  0.500000                   0.889418                0.943089
                3         k_nearest_neighbors         0.929817            0.929817                  0.629926                   0.925892                0.934959
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5          passive_aggressive         0.915468            0.915468                  0.500000                   0.889418                0.943089
               72          passive_aggressive         0.761771            0.761771                  0.760468                   0.938587                0.674797
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         mlp         0.915468            0.915468                  0.500000                   0.889418                0.943089
               66                 gaussian_nb         0.807972            0.807972                  0.660714                   0.918551                0.739837
                5                 extra_trees         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                 gaussian_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                 gaussian_nb         0.915468            0.915468                  0.500000                   0.889418                0.943089
               81          passive_aggressive         0.006129            0.006129                  0.500000                   0.003239                0.056911
                5               decision_tree         0.915468            0.915468                  0.500000                   0.889418                0.943089
                5                         sgd         0.915468            0.915468                  0.500000                   0.889418                0.943089

### AutoML women sprint

In [ ]:
X_sk = women_sprint.drop(["Medal","Event"], axis=1)
y_sk = women_sprint["Medal"]

In [ ]:
X_train_sk, X_test_sk, y_train_sk, y_test_sk = train_test_split(X_sk, y_sk, test_size=0.2, random_state=42)

X_train_sk.shape, X_test_sk.shape

((630, 5), (158, 5))

In [ ]:
X_test_sk.shape

(158, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188046 entries, 258399 to 236646
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     188046 non-null  float64
 1   Height  188046 non-null  float64
 2   Weight  188046 non-null  float64
 3   NOC     188046 non-null  object
 4   Year    188046 non-null  int64
 5   Event   188046 non-null  object
 6   Medal   188046 non-null  int64
 7   BMI     188046 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 12.9+ MB

In [ ]:
X_train_sk.head()

         Age  Height  Weight  NOC  Year
24702   24.0   174.0    65.0  USA  1984
65138   19.0   160.0    52.0  DOM  1976
26886   23.0   166.0    60.0  CGO  2016
23538   20.0   171.0    62.0  KAZ  2012
223425  25.0   160.0    54.0  JAM  1968

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OneHotEncoder

cat_dummy_encoder = OneHotEncoder(handle_unknown='ignore')

# convert to array to see a df
# transform for new catgories in test data
X_train_cat_sk = X_train_sk.select_dtypes(include='object')
cat_cols = X_train_cat_sk.columns

X_train_cat_ohe_sk = cat_dummy_encoder.fit_transform(X_train_cat_sk).toarray()
cat_ohe_cols = cat_dummy_encoder.get_feature_names(cat_cols)

# retruning numpy
X_train_cat_ohe_sk = pd.DataFrame(X_train_cat_ohe_sk, 
                              columns=cat_ohe_cols)

# categor data into numeric values                               
X_train_cat_ohe_sk.head()

,NOC_AFG,NOC_AHO,NOC_AND,NOC_ANG,NOC_ANT,NOC_ARG,NOC_ARM,NOC_ARU,NOC_ASA,NOC_AUS,...,NOC_URU,NOC_USA,NOC_UZB,NOC_VAN,NOC_VIE,NOC_VIN,NOC_YEM,NOC_YUG,NOC_ZAM,NOC_ZIM
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_train_sk = X_train_sk.drop(["NOC"], axis=1)

In [ ]:
X_train_sk.reset_index()

      index   Age  Height  Weight  Year
0     24702  24.0   174.0    65.0  1984
1     65138  19.0   160.0    52.0  1976
2     26886  23.0   166.0    60.0  2016
3     23538  20.0   171.0    62.0  2012
4    223425  25.0   160.0    54.0  1968
..      ...   ...     ...     ...   ...
625  159165  18.0   155.0    54.0  1968
626  160151  21.0   161.0    53.0  1972
627  240008  18.0   170.0    56.0  1988
628  268536  21.0   162.0    56.0  2000
629    1978  20.0   165.0    52.0  1972

[630 rows x 5 columns]

In [ ]:
X_train_cat_ohe_sk.reset_index()

,index,NOC_AFG,NOC_AHO,NOC_AND,NOC_ANG,NOC_ANT,NOC_ARG,NOC_ARM,NOC_ARU,NOC_ASA,...,NOC_URU,NOC_USA,NOC_UZB,NOC_VAN,NOC_VIE,NOC_VIN,NOC_YEM,NOC_YUG,NOC_ZAM,NOC_ZIM
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
626,626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
627,627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628,628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
629,629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_train_cat_ohe_sk

,NOC_AFG,NOC_AHO,NOC_AND,NOC_ANG,NOC_ANT,NOC_ARG,NOC_ARM,NOC_ARU,NOC_ASA,NOC_AUS,...,NOC_URU,NOC_USA,NOC_UZB,NOC_VAN,NOC_VIE,NOC_VIN,NOC_YEM,NOC_YUG,NOC_ZAM,NOC_ZIM
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_train_exp_sk = X_train_sk.merge(X_train_cat_ohe_sk, right_on=X_train_sk.index, left_on=X_train_sk.index)

In [ ]:
len(X_train_exp_sk)

630

In [ ]:
automl.fit(X_train_exp_sk, y_train_sk)

AutoSklearnClassifier(memory_limit=None, metric=f1_weighted,
                      per_run_time_limit=30,
                      resampling_strategy_arguments={'shuffle': True,
                                                     'train_size': 0.8},
                      scoring_functions=[f1_weighted, balanced_accuracy,
                                         precision_weighted, recall_weighted],
                      time_left_for_this_task=300)

In [ ]:
print(automl.sprint_statistics())

auto-sklearn results:
  Dataset name: 5d3d9f58-a117-11ec-8167-0242ac1c0002
  Metric: f1_weighted
  Best validation score: 0.961556
  Number of target algorithm runs: 43
  Number of successful target algorithm runs: 39
  Number of crashed target algorithm runs: 0
  Number of target algorithms that exceeded the time limit: 4
  Number of target algorithms that exceeded the memory limit: 0

In [ ]:
def get_metric_result(cv_results):
    results = pd.DataFrame.from_dict(cv_results)
    results = results[results['status'] == "Success"]
    cols = ['rank_test_scores', 'param_classifier:__choice__', 'mean_test_score']
    cols.extend([key for key in cv_results.keys() if key.startswith('metric_')])
    return results[cols]


print("Metric results:")
print(get_metric_result(automl.cv_results_).to_string(index=False))

Metric results:
 rank_test_scores param_classifier:__choice__  mean_test_score  metric_f1_weighted  metric_balanced_accuracy  metric_precision_weighted  metric_recall_weighted
                5               random_forest         0.943251            0.943251                  0.638655                   0.943089                0.952381
                1                         mlp         0.961556            0.961556                  0.844538                   0.963159                0.960317
               30           gradient_boosting         0.897222            0.897222                  0.478992                   0.889807                0.904762
               15               random_forest         0.923249            0.923249                  0.752101                   0.938109                0.912698
                7               random_forest         0.940207            0.940207                  0.764706                   0.944919                0.936508
               17               random_forest         0.917460            0.917460                  0.500000                   0.891975                0.944444
                8           gradient_boosting         0.937214            0.937214                  0.634454                   0.933515                0.944444
               33                    adaboost         0.867369            0.867369                  0.512605                   0.897097                0.841270
               17                         mlp         0.917460            0.917460                  0.500000                   0.891975                0.944444
               16                    adaboost         0.919276            0.919276                  0.558824                   0.911885                0.928571
               14               random_forest         0.924334            0.924334                  0.563025                   0.916893                0.936508
               27                bernoulli_nb         0.913479            0.913479                  0.495798                   0.891556                0.936508
               17                bernoulli_nb         0.917460            0.917460                  0.500000                   0.891975                0.944444
               35                 gaussian_nb         0.614545            0.614545                  0.735294                   0.950000                0.500000
               11                         mlp         0.929584            0.929584                  0.567227                   0.926523                0.944444
               10                         mlp         0.935109            0.935109                  0.571429                   0.954667                0.952381
               29           gradient_boosting         0.901337            0.901337                  0.483193                   0.890255                0.912698
                9               random_forest         0.936508            0.936508                  0.697479                   0.936508                0.936508
               36                  libsvm_svc         0.588150            0.588150                  0.445378                   0.882902                0.460317
               26           gradient_boosting         0.915424            0.915424                  0.617647                   0.918315                0.912698
               37                 gaussian_nb         0.356653            0.356653                  0.613445                   0.948373                0.269841
               28                         sgd         0.909294            0.909294                  0.676471                   0.925195                0.896825
               32               random_forest         0.881152            0.881152                  0.718487                   0.928826                0.849206
                6                         mlp         0.942424            0.942424                  0.701681                   0.940741                0.944444
                3                 gaussian_nb         0.948611            0.948611                  0.705882                   0.946556                0.952381
               17                         mlp         0.917460            0.917460                  0.500000                   0.891975                0.944444
               11                         mlp         0.929584            0.929584                  0.567227                   0.926523                0.944444
               17                         qda         0.917460            0.917460                  0.500000                   0.891975                0.944444
               39               random_forest         0.192508            0.192508                  0.554622                   0.947886                0.158730
               38               random_forest         0.254938            0.254938                  0.575630                   0.948045                0.198413
                4                         mlp         0.946179            0.946179                  0.768908                   0.948211                0.944444
               11                         mlp         0.929584            0.929584                  0.567227                   0.926523                0.944444
               34          passive_aggressive         0.755952            0.755952                  0.823529                   0.952381                0.666667
               17          passive_aggressive         0.917460            0.917460                  0.500000                   0.891975                0.944444
               17               random_forest         0.917460            0.917460                  0.500000                   0.891975                0.944444
                2         k_nearest_neighbors         0.949703            0.949703                  0.642857                   0.961918                0.960317
               31         k_nearest_neighbors         0.881384            0.881384                  0.525210                   0.899366                0.865079
               17               random_forest         0.917460            0.917460                  0.500000                   0.891975                0.944444
               17           gradient_boosting         0.917460            0.917460                  0.500000                   0.891975                0.944444

Not working

In [ ]:
X_test_sk.reset_index()
X_test_sk

         Age  Height  Weight  NOC  Year
256385  33.0   160.0    52.0  HKG  2008
259689  19.0   161.0    52.0  USA  1964
55957   17.0   170.0    54.0  LBR  1984
246752  16.0   170.0    57.0  IND  1980
239075  21.0   160.0    48.0  GBR  1984
...      ...     ...     ...  ...   ...
248912  21.0   165.0    59.0  NED  1968
110824  19.0   170.0    60.0  NZL  1976
106555  21.0   159.0    49.0  POR  1992
138450  23.0   171.0    61.0  CHN  2000
106958  26.0   155.0    55.0  GAM  1988

[158 rows x 5 columns]

### AutoML women swim

In [ ]:
X_sk = women_swim.drop(["Medal","Event"], axis=1)
y_sk = women_swim["Medal"]

In [ ]:
X_train_sk, X_test_sk, y_train_sk, y_test_sk = train_test_split(X_sk, y_sk, test_size=0.2, random_state=42)

X_train_sk.shape, X_test_sk.shape

((505, 5), (127, 5))

In [ ]:
X_train_sk.head()

         Age  Height  Weight  NOC  Year
214563  27.0   177.0    69.0  GER  1964
115737  17.0   175.0    66.0  USA  1972
6520    15.0   168.0    55.0  MEX  1972
106000  21.0   171.0    60.0  KOR  2008
249022  29.0   184.0    73.0  NED  2000

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OneHotEncoder

cat_dummy_encoder = OneHotEncoder(handle_unknown='ignore')

# convert to array to see a df
# transform for new catgories in test data
X_test_cat_sk = X_test_sk.select_dtypes(include='object')
cat_cols_test_sk = X_test_cat_sk.columns

X_test_cat_ohe_sk = cat_dummy_encoder.fit_transform(X_test_cat_sk).toarray()
cat_ohe_cols_sk2 = cat_dummy_encoder.get_feature_names(cat_cols_test_sk)

# retruning numpy
X_test_cat_ohe_sk = pd.DataFrame(X_test_cat_ohe_sk, 
                              columns=cat_ohe_cols_sk2)

# categor data into numeric values                               
X_test_cat_ohe_sk.head()

,NOC_ANG,NOC_ARG,NOC_AUS,NOC_BAH,NOC_BEL,NOC_BRA,NOC_BUL,NOC_CAN,NOC_CHN,NOC_COK,...,NOC_TTO,NOC_TUN,NOC_TUR,NOC_URS,NOC_USA,NOC_UZB,NOC_VEN,NOC_YUG,NOC_ZAM,NOC_ZIM
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_test_sk = X_test_sk.drop(["NOC"], axis=1)

In [ ]:
X_test_exp_sk = X_test_sk.merge(X_test_cat_ohe_sk, right_on=X_test_sk.index, left_on=X_test_sk.index)

In [ ]:
X_train_exp_sk.shape

(630, 160)

In [ ]:
X_test_exp_sk.shape

(127, 65)

In [ ]:
predictions_sk = automl.predict(X_test_exp_sk)
predictions_sk

ValueError: ignored

In [ ]:
import time
time.sleep(1000000)